@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer base {
    :root {
      --text: #020203;
      --background: #e6f1f4;
      --primary: #3fb3d9;
      --secondary: #d1e4eb;
      --accent: #4890a8;
    }
    .dark {
      --text: #fcfcfd;
      --background: #0b1619;
      --primary: #2699c0;
      --secondary: #14272e;
      --accent: #579fb7;
    }
  }  